body{
    margin: 0 15%;
    text-align: center;
    background-color: #edeff1;
    color: #586a66;
}
h1 {
    color: white;   
    background-color: #ff8fa5;
}

 a:link{
    color: #c25067;
}
a:visited{
    color: #682a37;
}