body{
    margin: 0 15%;
    text-align: center;
    background-color: #edeff1;
    color: #586a66;
}
h1 {
    color: white;   
    background-color: #ff8fa5;
}
#gamearea{
    background-color: white;
    font-size: 34px;
    margin-top:20px;
    padding: 25px;
}
#twitter{
    text-align: center;
    margin: 20px;
}
footer a:link{
    color: #c25067;
}
footer a:visited{
    color: #682a37;
}