html {
    background-color: #edeff1;
}

body {
    text-align: center;
    background-color: #fef4fd;
    color: #586a66;
    font-size: 16pt;
    margin: 10px;
    /* border: solid 1px gray; */
    box-shadow: 5px 5px 5px 0 lightgray;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    justify-content: space-around;
}

.container {
    margin: 3% 6%;
    flex: 1;
}

.IllustTop {
    margin: 0 10%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.IllustTop img {
    height: 600px;
}

.IllustTop p {
    margin: 5%;
    text-align: left;
}

h1 {
    color: #eb607b;
    border-bottom: dotted #ff8fa5 5px;
    margin: 3% 10%;
}

h2 {
    border-bottom: #c25067 double 9px;
    margin: 3% 10%;
}

footer {
    margin-top: auto;
    text-align: center;
    color: #ff8fa5;
    padding-top: 14px;
}

footer img {
    padding: 0 5px;
}

footer a {
    text-decoration: none;
    color: #009dfa;
}

.top {
    margin: 0;
    padding-top: 7%;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
    font-size: 30pt;
    font-weight: bold;
    color: white;
    background-color: #ff8fa5;
    box-shadow: 0 5px 5px 0 lightgray;
}

.top a {
    color: white;
    text-decoration: none;
}

.prof {
    margin: 2% 13%;
}


/* コンテンツ表示用ボックス */

.works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.center {
    align-items: center;
}

.box {
    border: double #ff8fa5 5px;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 1%;
    margin: 1%;
    width: 400px;
    /* height: auto; */
    text-align: center;
    transition: all 0.3s;
}

.box a {
    text-decoration: none;
    color: #586a66;
    font-size: 14pt;
}

.box img {
    border: solid #586a66 2px;
    border-radius: 5px;
    width: 85%;
    margin: 3%;
}

.box h2 {
    border-bottom: #c25067 dotted 10px;
}

.box:hover {
    background-color: white;
    box-shadow: 2px 6px 8px 2px gray;
    transform: translate(0px, -5px);
}

.gallery {
    width: 300px;
    transition: all 0.3s;
}

.gallery img {
    border: solid #586a66 2px;
    border-radius: 5px;
    width: 300px;
}

.gallery:hover {
    transform: translate(0px, -5px);
}

.charts {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.chartlist {
    display: flex;
    flex-flow: row nowrap;
}

.chartlist h2 {
    flex-basis: 75%;
    margin: 1%;
    border: none;
}

.chart_links {
    flex-basis: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}


/* ボタン要素 */

.mf_btn1 {
    text-decoration: none;
    display: inline-block;
    border: dashed #c25067 2px;
    border-radius: 30px;
    background-color: #ff8fa5;
    color: white;
    box-shadow: 0px 0px 0px 5px #ff8fa5;
    padding: 7px 14px;
    font-size: 18pt;
    margin: 10px;
    transition: all 0.3s;
}

.mf_btn1:hover {
    border-color: #eb607b;
    background-color: #fdafbf;
    box-shadow: 0px 0px 0px 5px #fdafbf;
    cursor: pointer;
}

.mf_btn2 {
    text-decoration: none;
    display: inline-block;
    border: dashed #c25067 2px;
    border-radius: 30px;
    background-color: white;
    color: #ff8fa5;
    box-shadow: 0px 0px 0px 5px white;
    padding: 7px 14px;
    font-size: 14pt;
    margin: 10px;
    transition: all 0.3s;
}

.mf_btn2:hover {
    border-color: #fdafbf;
    color: #fca1b3;
    cursor: pointer;
}

.chart_detail {
    text-decoration: none;
    border-bottom: 10px double #586a66;
}

.chart_detail_border a,
.chart_detail_border a:visited {
    color: #586aaa;
}

.chart_detail_border {
    position: relative;
    border: 3px solid #586a66;
    border-radius: 4px;
    padding: 13px 6px;
    background-color: white;
}

.chart_detail_border::before {
    position: absolute;
    top: -3px;
    right: -3px;
    content: '';
    border-top: #fef4fd 15px solid;
    border-left: #586a66 15px solid;
    z-index: 2;
}

.chart_detail_border::after {
    position: absolute;
    top: -3px;
    right: -3px;
    content: '';
    width: 0;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #fef4fd #fef4fd #586a66 #586a66;
}

.chart_movie {
    text-decoration: none;
    background-color: grey;
    border: solid 3px #586a66;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 3px white inset;
    padding: 12px 7px;
}

.chart_movie_border a,
.chart_movie_border a:visited {
    color: #ff8a86;
}

.chart_movie::after {
    content: '▶︎';
    color: white;
}

.chart_movie_border {
    position: relative;
    height: auto;
    margin: auto;
}

.movie_border {
    position: absolute;
    width: 80%;
    bottom: -17px;
    border: solid 2px #586a66;
    border-radius: 3px;
    margin: 0 12% 0 8%;
}


/* テーブル要素 */

table {
    margin: 0 13%;
}

th,
td {
    padding: 10px;
}

th {
    background-color: #c25067;
    color: white;
}

td {
    background-color: pink;
}